*{
    margin:0;
}

body{
    background: rgb(212, 212, 212);
}

header{
    background-color: #757575;
    height: 50px;
    width: 100%;
    display: flex;
    position: fixed;
}

.headerShop{
    color:rgb(170, 170, 170);
    width: 40%;
}

.lista{
    width: 40%;
}
.lista ul{
    list-style-type: none;
    display: flex;
    margin-right: 10px ;
    width: 50%;
}
.lista li{
    width: 50%;
    height: 25px;
    color: rgb(159, 159, 159);
    padding: 10px;
    margin-right: 10px;
    text-align: center;
 
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}
a:hover{
    background-color: #ffffff;
    color:  #757575;
    padding: 10px;



}
section{
    background-color: rgb(205, 205, 205);
    height: 700px;
}

footer{
    background-color: aqua;
    height: 100px;
}

/* Css página home */

.textoHome{
    color: white;
}

/* Css página imagens */
.sectionPagImg{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;
    height: 1100px;
}
.b1{
    background-image: url("https://media.licdn.com/dms/image/C4E03AQHLeokVfg8fWQ/profile-displayphoto-shrink_200_200/0/1552050113566?e=1723075200&v=beta&t=EfTLx4YtfRIzEGRS52hjhub1STELqfVBMR3ilShDKtI");
    width: 170px;
    height: 120px;
    background-position: 200px 180px;
}
.b2{
    background-image: url("https://media.licdn.com/dms/image/D4D16AQF0JcLwVkBXBw/profile-displaybackgroundimage-shrink_350_1400/0/1708977535599?e=1723075200&v=beta&t=dLZoqQkbkItWUo06tjaO2fCwkdJs6UWL1mj1L0SmdyE");
    width: 170px;
    height: 120px;
    background-size: 605px;
    background-position: 360px;
}
.b3{
    background-image: url("https://media.licdn.com/dms/image/D4D03AQHEx_kNdsvPgw/profile-displayphoto-shrink_200_200/0/1703370646274?e=1723075200&v=beta&t=Sutff88vysfQNL9RGy0YMs7v7dp6Oaj5rD_Eu_c6iSI");
    width: 170px;
    height: 120px;
    background-position: 200px;
}
.b4{
    background-image: url("https://media.licdn.com/dms/image/D4D03AQFCEjpUFAaq4w/profile-displayphoto-shrink_200_200/0/1713271113527?e=1723075200&v=beta&t=u32EgbcY5Nr17Nx38xazc6I3p-iR5JhoD8xSjcY19Sg");
    width: 170px;
    height: 120px;
    background-position: 200px;
}

/* Css página Vídeos */
.textoVídeos{
    color: rgb(151, 22, 22);
}

/* Css contatos */

form{

    background-color: rgb(162, 162, 162);
    border-radius: 10px;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column; 
    align-items: center;
      font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;


}
.sectionContatos{

    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;


}